button{
    
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding: 14px 24px;
    border: none;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
    background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%);
    color: #fff;
    height:2.7em;

}
.custombg {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 14s ease infinite;

  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.custombg{
    width: 45%;
}
@media only screen and (max-width: 1000px) {
    
    button {
      width: 60%;
    }
    .custombg{
        width: 70%;
    }

  }

  @media only screen and (max-width: 500px) {
    
    button {
      width: 60%;
    }
    .custombg{
        width: 95%;
    }

  }

  @media only screen and (max-width: 370px) {
    
    button {
      width: 50%;
      font-size: smaller;
    }
    .custombg{
        width: 100%;
    }
    
  }